.CodeMirror {
    border: 2px solid #eee;
    width: 90%;
    height: 95%;
    margin-left: 5%;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

body,ul,li {
    font-family: 'PT Serif', georgia, serif;
    padding:0;
    margin:0;
    border:0;
    text-align: center;
}

body {
    font-family: 'PT Serif', georgia, serif;
    background: #ededeb url("../img/bg.png") repeat 0 0;
    font-size:12px;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    font-family:helvetica;
}

#header {
    font-family: 'PT Serif', georgia, serif;
    position:absolute; z-index:2;
    top:0; left:0;
    width:100%;
    height:45px;
    line-height:45px;
    background-color: #3b4145;
    background-image: -moz-linear-gradient(top, #41484c, #31373a);
    background-image: -ms-linear-gradient(top, #41484c, #31373a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#41484c), to(#31373a));
    background-image: -webkit-linear-gradient(top, #41484c, #31373a);
    background-image: -o-linear-gradient(top, #41484c, #31373a);
    background-image: linear-gradient(top, #41484c, #31373a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41484c', endColorstr='#31373a', GradientType=0);
    font-size:20px;
    text-align:center;
}

#header a {
    font-family: 'PT Serif', georgia, serif;
    color:#f3f3f3;
    text-decoration:none;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
    width:100%;
    text-align:center;
}


#footer {
    font-family: 'PT Serif', georgia, serif;
    position:absolute; z-index:2;
    bottom:0; left:0;
    width:100%;
    height:48px;
    background-color: #3b4145;
    background-image: -moz-linear-gradient(top, #41484c, #31373a);
    background-image: -ms-linear-gradient(top, #41484c, #31373a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#41484c), to(#31373a));
    background-image: -webkit-linear-gradient(top, #41484c, #31373a);
    background-image: -o-linear-gradient(top, #41484c, #31373a);
    background-image: linear-gradient(top, #41484c, #31373a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41484c', endColorstr='#31373a', GradientType=0);
    border-top:1px solid #444;
    text-align:center;
}


#footer a {
    color:#f3f3f3;
    text-decoration:none;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
    width:100%;
    text-align:center;
}

#wrapper {
    font-family: 'PT Serif', georgia, serif;
    position:absolute; z-index:1;
    top:50px; bottom:48px; left:0;
    width:100%;
    overflow:auto;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

.code {
    font-size: 16px;
    font-family: monospace;
    white-space: pre-line;
    text-align: left;
}
.output {
    font-size: 25px;
    font-family: monospace;
    white-space: pre-line;
    text-align: left;
}
.code-color {
    color: blue;
}

.blur {
    font-size:75px;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 5px #000;
}

